body{
    background-color: black;
}
    
#content{
    display: grid;
    gap: 2px 2px;
    grid-template-columns: auto auto auto;
    margin-left: 3px;
}
#navbar{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 84vh;
    width: 21vw;
    border-radius: 6px;
}
#options{
    flex-shrink: 0;
    height: 120px;
    width: 96%;
    background-color: #1a1919;
    border-radius: 6px;
    margin: 4px;
}
#library{
    height: 80%;
    width: 96%;
    background-color: #1a1919;
    border-radius: 6px;
    margin: 4px;
}
#main{
    height: 84vh;
    width: 55vw;
    background-color: #1a1919;
    border-radius: 6px;
}
#sidebar{
    height: 84vh;
    width: 22vw;
    background-color: #1a1919;
    border-radius: 6px;
}
#nowplaying{
    position: absolute;
    height: 100px;
    width: 99vw;
    background-color: white;
    bottom: 0px;
}

.navlist{
    font-size: 20px;
    font-family: monaco, monospace;
    color: #b5b1b1;
    list-style-type: none;
    padding: 10px;
    padding-left: 0px;
}
.navlist:hover{
    color: white;
    transition: color 0.5s;

& polygon{
    opacity: 1;
    transition: opacity 0.5s;
}

}
polygon{
    fill:white;
    opacity: 0.6;
}
