body{
    background-color: black;
    font-family: monaco, monospace;
}
    
#content{
    display: grid;
    gap: 2px 2px;
    grid-template-columns: auto auto auto;
    margin-left: 3px;
    overflow: hidden;
}
#navbar{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 100px);
    width: 21vw;
    border-radius: 6px;
}
#options{
    flex-shrink: 0;
    height: 120px;
    width: 96%;
    background-color: #131212;
    border-radius: 6px;
    margin: 4px;
}
#library{
    display: flex;
    flex-flow: column nowrap;
    height: 80%;
    width: 96%;
    background-color: #131212;
    border-radius: 6px;
    margin: 4px;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
#main{
    height: calc(100vh - 100px);
    width: 55vw;
    background-image: linear-gradient(rgba(150, 37, 154, 0.5), rgb(150, 37, 154, 0.05), #131212);
    border-radius: 6px;
}
#sidebar{
    height: calc(100vh - 100px);
    width: 22vw;
    background-color: #131212;
    border-radius: 6px;
}
#nowplaying{
    position: fixed;
    height: 85px;
    width: 99vw;
    bottom: 0px;
    margin: auto;

    display: grid;
    grid-template-columns: 320px auto 320px;
    grid-template-rows: 98%;
}

.navlist{
    display: flex;
    font-size: 20px;
    color: #b5b1b1;
    list-style-type: none;
    margin-left: -15px;
    padding: 10px;
    padding-left: 0px;
    align-items: center;
}
.navlist:hover{
    color: white;
    transition: color 0.5s;
    cursor: pointer;

& #homeicon{
    opacity: 1;
    transition: opacity 0.5s;
  }

& #searchicon{
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.navpad{
    padding-left: 15px;
}
#homeicon{
    fill:white;
}
#searchicon{
    stroke: white;
    opacity: 0.6;
}

/* -----------   LIBRARY   ------------- */
#lib_head{
    height: 6vh;
    width: 100%;
    align-self: flex-start;
    color: white;
    display: grid;
    grid-template-columns: 170px auto 30px 30px;
    grid-column-gap: 3px;
    margin-top: 5px;
    align-items: center;
}
#lib_heading{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: stretch;
    justify-content: center;
    font-size: 17px;
    padding-left: 20px;
}
.focus{
    opacity: 0.7;
}
.focus:hover{
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}
#playlist_head{
    height: 5vh;
    width: 100%;
    align-self: flex-start;
    font-size: 14px;
}
.pl_head{
    height: 5vh;
    float: left;
    padding: 2px;
    color: white;
    margin-left: 25px;
    line-height: 30px;
}
#lib_nav{
    height: 6vh;
    width: 100%;
    align-items: center;
}
.lib_nav{
    height: 6vh;
    display: flex;
    align-items: center;
    opacity: 0.6;
}
#lib_search{
    float: left;
    margin-left: 28px;
}
#lib_recents{
    margin-right: 15px;
    font-size: 14px;
    color: white;
    float: right;
}
#lib_recents:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
#saved_playlists{
    height: 47vh;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
}
.saved_pl{
    height: 75px;
    width: 19vw;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px; 
    display: grid;
    grid-template-columns: 5vw 4vw 4vw 4vw;
    grid-template-rows: auto auto;
    gap: 5px;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.saved_pl:hover{
    background-color: #222121;
}
.playlist_img{
    height: 65px;
    width: 65px;
    border-radius: 8px;
    grid-column: 1;
    grid-row:1/3;
    align-self: center;
    justify-self: center;
}
.saved_pl_name{
    color: white;
    font-size: 17px;
    grid-column: 2/5;
    grid-row: 1;
    align-content: center;
    justify-content: start;
}
.saved_pl_author{
    color: white;
    font-size: 14px;
    font-family: roboto;
    opacity: 0.6;
    grid-column: 2/5;
    grid-row: 2;
}

/* ---------------    MAIN CONTENT    -------------*/

#main_head{
    height: 7vh;
    width: 100%;
    align-self: flex-start;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 5px 80px auto 160px 160px 35px 35px 1px;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;
    color: white;
}
#main_arrows{
    height: 4.5vh;
    grid-column: 2;
    align-content: center;
}
.main_arrow{
    display: inline-block;
    height: 100%;
    width: 35px;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
}
.main_options{
    background-color: rgb(0, 0, 0, 0.6);
    align-content: center;
    text-align: center;
    font-family: roboto;
    height: 4.5vh;
}
.main_options:hover{
    background-color: rgb(34, 33, 33, 0.6);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s;
}
#premium{
    font-size: 1.1rem;
    grid-column: 4;
    border-radius: 30px;
}
#install{
    grid-column: 5;
    font-size: 1.1rem;
    border-radius: 30px;
}
#notification{
    grid-column: 6;
    border-radius: 50%;
}
#profile{
    grid-column: 7;
    border-radius: 50%;
}


#main_nav{
    height: 7vh;
    width: 100%;
    align-self: flex-start;
}
.main_nav{
    height: auto;
    width: auto;
    border-radius: 15px;
    float: left;
    padding: 5px 8px 5px 8px;
    margin: 5px;
    margin-top: 10px;
    color: white;
    font-family: monoco;
    cursor: pointer;
}
#main_nav_all{
    margin-left: 15px;
    background-color: rgb(0, 0, 0, 0.6);
}
#main_content_scroll{
    height:calc(100% - 15vh);
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

#recent_plays{
    height: 30vh;
    width: 100%;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5px;
}
.recent_plays{
    height: 50px;
    width: 25vw;
    margin: auto;
    display: inline-grid;
    grid-template-columns: 50px auto 50px 15px;
    border-radius: 8px;
    color: white;
}
.recent_plays:hover{
    background-color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;

& .playbtn_div{
    opacity: 1;
    transition: 0.5s;
}
}
.recent_play_img{
    height: 50px;
    width: 50px;
    border-radius: 8px 0px 0px 8px;
}
.recent_play_title{
    height: 100%;
    width: auto;
    align-content: center;
    padding-left: 8px;
    font-size: 1.25vw;
}
.recent_play_playbtn{
    height: 40px;
    width: 40px;
    align-content: center;
    margin: auto;
}
.playbtn_div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
    align-content: center;
    text-align: center;
    padding: 4px 0px 0px 4px;
    opacity: 0;
    background-color: rgb(36, 217, 39);
}
.playbtn_div:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.recommended_plays_head{
    height: 3vw;
    width: 100%;
    align-self: flex-start;
    color: white;
    display: inline-grid;
    grid-template-columns: 300px auto 90px;
}
.recommended_title{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-content: end;
    font-size: 1.5vw;
    padding: 0px 0px 3px 20px;
    font-family: monoco;
    cursor: pointer;
}
.recommended_show_more{
    grid-column: 3;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: 1vw;
    cursor: pointer;
}
.underline:hover{
    text-decoration: underline;
}

.recommended_plays_content{
    height: 240px;
    width: 100%;
    align-self: flex-start;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.recommended_content{
    box-sizing: border-box;
    height: 95%;
    width: calc(99% / 3);
    margin: auto;
    border-radius: 10px;
    flex-shrink: 0;

    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 145px 30px 45px;
    position: relative;
}
.recommended_content:hover{
    background-color: #1d1c1c;
    cursor: pointer;

& .absolute{
    transform: translateY(-30px) scale(1.2);
    opacity: 1;
    transition: 0.3s;
}
}
.absolute{
    position: absolute;
    bottom: 60px;
    right: 20px;
    box-shadow: 0px 3px 10px #000;
}
.absolute:hover{
    background-color: #2fff3d;
}
.recommended_pl_img{
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    border-radius: 10px;
}
.recommended_pl_title{
    height: 100%;
    width: 90%;
    margin: 8px auto 0px auto;
    text-wrap: nowrap;
    align-content: center;
    color: white;
    font-size: 1.15vw;
    font-family: monoco;
}
.recommended_pl_desc{
    height: 75%;
    width: 90%;
    margin: 8px auto auto auto;
    overflow: hidden;
    color: #7b7373;
    font-family: monoco;
}
@media screen and (min-width: 1000px){
    .recommended_content{
        width: calc(99% / 4);
    }
}

/* -----------------------SIDEBAR---------------------- */

#sidebar_head{
    box-sizing: border-box;
    margin: 10px auto;
    height: 40px;
    width: 95%;
    font-family: monoco;

    display: grid;
    grid-template-columns: auto auto 40px 30px;
    grid-template-rows: 80%;
    align-content: center;
    padding-left: 8px;
}
.pointer{
    cursor: pointer;
}
.sidebar_head{
    align-content: center;
    color: white;
    font-size: 1.2vw;
}
#sidebar_content{
    width: 95%;
    height: calc(100% - 70px);
    margin: auto;
    overflow: auto;
    scrollbar-width: none;
}
#song_info{
    width: 95%;
    height: 25vw;
    margin: 5px auto;
}
#song_img{
    width: calc(21vw - 20px);
    height: calc(21vw - 20px);
    margin: auto;
}
#sidebar_song_img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#song_desc{
    width: calc(21vw - 20px);
    height: calc(4vw + 15px);
    margin: 2px auto;
    bottom: 0;

    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: 60% 40%;
    align-content: center;
}
#playing_song_title{
    columns: 1;
    grid-row: 1;
    padding-left: 1px;
    font-size: 1.7vw;
    font-family: monoco;
    overflow: hidden;
    color: white;
    align-self: center;
}
#playing_song_desc{
    columns: 1;
    grid-row: 2;
    padding-left: 1px;
    font-size: 1.3vw;
    font-family: monoco;
    overflow: hidden;
    color: white;
}
#playing_song_add{
    grid-row: 1/3;
    align-self: center;
    align-content: end;
    justify-self: end;
}
#credits{
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    margin: 10px auto ;
    padding: 3px 0px 10px 0px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
}
#credits_head{
    height: 40px;
    width: 92%;
    margin: auto;
    color: white;
    font-family: monoco;

    display: grid;
    grid-template-columns: auto 100px;
    align-content: center;
}
#credits_head_title{
    font-size: 1.2vw;
}
#credits_head_show{
    justify-self: end;
}
.song_credit{
    height: 60px;
    width: 92%;
    margin: auto;
    color: white;
    font-family: monoco;

    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: 60% 40%;
}
.credit_artist{
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2vw;
    align-content: center;
    overflow: hidden;
}
.credit_artist_role{
    grid-column: 1;
    grid-row: 2;
    font-size: 1vw;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.8;
}
.credit_artist_follow{
    grid-column: 2;
    grid-row: 1/3;
    height: 40%;
    width: 70%;
    font-size: 1vw;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255, 0.6);
    align-self: center;
    align-content: center;
    justify-self: end;
    text-align: center;
}
.credit_artist_follow:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#play_queue{
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    margin: 20px auto ;
    padding: 3px 0px 10px 0px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
}

#queue_head{
    height: 40px;
    width: 92%;
    margin: auto;
    color: white;
    font-family: monoco;

    display: grid;
    grid-template-columns: auto 100px;
    align-content: center;
}
#queue_head_title{
    font-size: 1.2vw;
}
#queue_head_open{
    justify-self: end;
}
#song_in_queue{
    box-sizing: border-box;
    height: 60px;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    color: white;

    display: grid;
    grid-template-columns: 10% 20% auto;
    grid-template-rows: 55% 45%;
    padding: 2px;
}
#song_in_queue:hover{
    background-color: #2e2e2e;

& #queue_play{
    visibility: visible;
}
& #queue_music{
    visibility: hidden;
}
}
.queue_playbtn{
    grid-column: 1;
    grid-row: 1/3;
    align-content: center;
    justify-self: center;
}
#queue_play{
    visibility: hidden;
}
#queue_song_img{
    grid-column: 2;
    grid-row: 1/3;
    align-items: end;
    align-content: center;
    padding-left: 5px;
}
#queue_song_img > img{
    height: 80%;
    width: 80%;
    border-radius: 5px;
}

#queue_song_title{
    grid-column: 3;
    grid-row: 1;
    font-size: 1.3vw;
    align-self: center;
    padding-left: 4px;
}
#queue_song_desc{
    grid-column: 3;
    grid-row: 2;
    font-size: 1vw;
    padding-left: 4px;
}
#nowplaying_song_info{
    height: 98%;
    width: 97%;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 70px auto 30px;
    grid-template-rows: 50% 50%;
    align-items: center;
}
#nowplaying_song_image{
    columns: 1;
    grid-row: 1/3;
    height: 60px;
    width: 60px;
    justify-self: center;
}
#nowplaying_song_image > img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.nowplaying_song_desc{
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    align-self: start;
    padding: 0px 0px 3px 5px ;
    font-family: monoco;
    color: white;
}
#nowplaying_song_title{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    padding: 0px 0px 3px 5px ;
    font-size: 18px;
}
#nowplaying_song_artist{
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    font-size: 14px;
}
#nowplaying_song_add{
    grid-column: 3;
    grid-row: 1/3;
    justify-self: end;
}
#audio_player{
    height: 98%;
    width: 98%;
    margin: 0px auto;

    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 60% 40%;
}
#audio_player_options{
    grid-row: 1;
    display: inline-grid;
    grid-template-columns: auto 50px 50px 50px 50px 50px auto;
    grid-template-rows: 100%;
    justify-items: center;
    column-gap: 5px;
}
.audio_player_options{
    height: 40px;
    width: 40px;
    align-self: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
}
.audio_player_options > svg{
    filter: drop-shadow(0 0 6px white);
}
#audio_player_progress{
    grid-row: 2;
    display: inline-grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 100%;
    justify-items: center;
    justify-content: center;
}
.audio_timestamp{
    width: fit-content;
    height: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 2px;
    opacity: 0.7;
}
#song_progress{
    width: calc(100vw - 1000px);
    max-width: 500px;
    min-width: 200px;
}
#song_progress_bar{
    height: 17px;
    width: 100%;
    top: 0;
}
#song_progress_bar::-webkit-progress-value{
    background-color: #2fff3d;
}
#nowplaying_song_options{
    height: 98%;
    width: 97%;
    margin: 2px auto;

    display: grid;
    grid-template-columns: 32px 32px 32px 32px auto 32px 32px;
    column-gap: 0px;
    justify-items: center;
    align-content: center;
}
.nowplaying_song_options{
    height: 30px;
    width: 30px;
    align-content: center;
    text-align: center;
    opacity: 0.8;
}
#now_playing_sound{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#sound_value{
    height: 24px;
    width: 67px;
}